@CHARSET "UTF-8";

/* ------------ global ------------ */
BODY {
  margin: 10px; /* leave for testing of positions */
}

CODE {
  font-style: normal;
}

/* ------------ Example ------------ */
.demo-example-panel {
  margin: 1em 1em;
}

DIV.dragdrop-dropTarget {
  background-color: #CCCCCC; /* gray */
  border: 1px solid black;
}

DIV.dragdrop-dropTarget-engage {
  background: #BCDEFF; /* lighter blue */
}

/* ------------ Main Boundary Panel ------------ */
DIV.demo-main-boundary-panel {
  background: #F8F8F8; /* light gray */
  border: 1px solid blue;
}

/* ------------ RedBoxDraggableWidget ------------ */
.demo-red-box-draggable-widget {
  background-color: #EE0000; /* red */
  border: 2px solid #AA0000; /* dark red */
  text-align: center;
  color: #FFCCCC;
  font-size: 0.9em;
}

/* ------------ BinExample ------------ */
.demo-BinExample DIV.dragdrop-dropTarget {
  background-color: #CCCCCC; /* gray */
}

.demo-BinExample DIV.demo-bin {
  text-align: center;
  border: 1px solid black;
  border-top: 4px solid black;
  background-color: #87B3FF; /* blue */
}

.demo-BinExample DIV.demo-bin-engage {
  background-color: #A7E3FF; /* bright blue */
}

.demo-BinExample DIV.demo-trashbin {
  background-color: #FF7743; /* orange */
}

.demo-BinExample DIV.demo-trashbin-engage {
  background-color: #FFA773; /* bright orange */
}

.demo-BinExample-draggable-engage {
  filter: alpha(opacity = 10);
  opacity: 0.1;
  -moz-opacity: 0.1;
}

/* ------------ FlowPanelExample ------------ */
.demo-FlowPanelExample-draggable ,
.demo-FlowPanelExample-draggable DIV {
  display: inline;
}

.demo-FlowPanelExample-label {
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 0.1em;
  margin: 0.1em;
  border: 1px solid blue;
}

/* ------------ IndexedPanelExample ------------ */
.demo-IndexedPanelExample .demo-IndexedPanelExample-widget ,
.demo-IndexedPanelExample .demo-IndexedPanelExample-heading {
  border: 1px solid blue;
  padding: 0.1em;
  margin: 0.1em;
  width: 120px;
}

.demo-IndexedPanelExample .demo-IndexedPanelExample-widget {
  background-color: #B3FF87;
}

.demo-IndexedPanelExample .demo-IndexedPanelExample-heading {
  background-color: #87B3FF;
}

.demo-IndexedPanelExample .demo-IndexedPanelExample-column-composite {
  padding: 1px;
}

/* ------------ FlexTableRowExample ------------ */
.demo-FlexTableRowExample .demo-FlexTableRowExample-table-proxy {
  border: 1px solid blue;
}

.demo-FlexTableRowExample .demo-flextable .dragdrop-handle {
  background: url("images/row-dragger-8.gif") no-repeat;
  padding-left: 10px;
}

.demo-FlexTableRowExample .dragdrop-dropTarget {
  background-color: #CCCCCC; /* gray */
  border: 1px solid black;
}

.demo-FlexTableRowExample .demo-table-positioner {
  z-index: 1;
  border-top: 1px solid green;
  margin-top: 1px;
}

/* ------------ ResizeExample ------------ */
.demo-ResizeExample .dragdrop-boundary {
  background-color: #F8F8F8; /* light gray */
  border: 1px solid black;
}

.demo-ResizeExample .demo-resize-html {
  background-color: #DDEEDD; /* light green */
}

.demo-ResizeExample .demo-resize-edge {
  background-image: url("images/dragger-4x4.gif");
  background-repeat: repeat;
  line-height: 1px;
  font-size: 1px;
}

.demo-ResizeExample .demo-resize-nw .dragdrop-handle {
  cursor: nw-resize;
}

.demo-ResizeExample .demo-resize-n .dragdrop-handle {
  cursor: n-resize;
}

.demo-ResizeExample .demo-resize-ne .dragdrop-handle {
  cursor: ne-resize;
}

.demo-ResizeExample .demo-resize-w .dragdrop-handle {
  cursor: w-resize;
}

.demo-ResizeExample .demo-resize-e .dragdrop-handle {
  cursor: e-resize;
}

.demo-ResizeExample .demo-resize-sw .dragdrop-handle {
  cursor: sw-resize;
}

.demo-ResizeExample .demo-resize-s .dragdrop-handle {
  cursor: s-resize;
}

.demo-ResizeExample .demo-resize-se .dragdrop-handle {
  cursor: se-resize;
}

/* ------------ FlowPanelExample ------------ */
.dragdrop-flow-panel-positioner {
  color: blue;
}

/* ------------ Puzzle Example ------------ */
.demo-PuzzleExample-table {
  border: 1px solid red;
}
.demo-PuzzleExample-cell {
  border: 1px solid black;
}

/* ------------ General Demo CSS ------------ */
.demo-main-boundary-panel .demo-example-description {
  font-size: 0.9em;
  border-bottom: 1px solid #87B3FF;
  padding: 0.5em 0.3em;
}

.demo-behavior-selection {
  background-color: #E8EEF7;
  border: 1px solid #87B3FF;
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0.2em 0.1em;
}

.demo-event-text-area {
  border: 1px solid green;
}

/* ------------ DragHandleExample ------------ */
.demo-DragHandleExample-panel {
  background-color: white;
  border: 1px solid green;
  width: 400px;
}

.demo-DragHandleExample-textarea {
  width: 95%;
  height: 4em;
}

.demo-DragHandleExample-header {
  background-color: #DDEEDD; /* light green */
}

/* ------------ DualListExample ------------ */
.demo-DualListExample .dragdrop-boundary {
  border: none;
  background-color: transparent;
}

.demo-DualListExample-center {
  margin: 0.4em;
}

.demo-DualListExample-center TD {
  padding: 0.2em 0.4em;
}

.demo-DualListExample-center BUTTON {
  width: 4em;
}

.demo-DualListExample-item-has-content {
  cursor: pointer;
}

.demo-DualListExample-item-selected {
  background-color: blue;
}

.demo-DualListExample .dragdrop-dragging ,
.demo-DualListExample .dragdrop-proxy {
  filter: alpha(opacity = 100);
  opacity: 1.0;
  -moz-opacity: 1.0;
}

/* ------------ General GWT CSS ------------ */
.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #87B3FF;
  background-color: #E8EEF7;
}

.gwt-TabBar {
  background-color: #C3D9FF;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px 6px;
  cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}