@CHARSET "ISO-8859-1";

.dragdrop-draggable {
  cursor: move;
  z-index: 2;
}

.dragdrop-boundry {
}

.dragdrop-dropTarget {
}

.dragdrop-dropTarget.dragdrop-engage {
}

.dragdrop-dragging {
  filter: alpha(opacity = 30);
  opacity: 0.3;
  -moz-opacity: 0.3;
}

.dragdrop-hidden {
  visibility: hidden;
}

.dragdrop-positioner {
  border: 1px dashed #1E90FF; /* blue */
  z-index: 1;
}

