@CHARSET "UTF-8";

.dragdrop-handle {
  cursor: move;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dragdrop-draggable {
  z-index: 2;
}

.dragdrop-boundary {
}

.dragdrop-dropTarget {
}

.dragdrop-dropTarget.dragdrop-engage {
}

.dragdrop-dragging {
  filter: alpha(opacity = 30);
  opacity: 0.3;
  -moz-opacity: 0.3;
}

.dragdrop-hidden {
  visibility: hidden;
}

.dragdrop-positioner {
  border: 1px dashed #1E90FF; /* blue */
  z-index: 1;
}

.dragdrop-proxy {
  background-color: #77AAFF; /* light blue */
  z-index: 1;
  font-weight: bold;
  filter: alpha(opacity = 30);
  opacity: 0.3;
  -moz-opacity: 0.3;
}
